.graph-container {

    width: 1000px;
    height: 800px;
    margin: 0 auto;
    border: 1px solid gray;
    padding: auto;
    background-color: white;
}
svg{
    height: 100%;
    width: 100%;
    position: inherit;
    overflow: hidden;
    margin: 0px;
}

body {
    overflow: hidden;
    background-image: url(../images/bgGraph.jpg);
    background-size: cover;
}
.topPanel{
    margin-top:10px;
}
.row{
    margin-bottom: 10px;
}